@{
    ViewData["Title"] = "Home Page";
    Layout = "_Userlayout";
}
@model IEnumerable<GroupType>
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Group Types</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Group Types</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        @if (TempData["errorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade-show">
                @TempData["errorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        }
        @if (TempData["successMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade-show">
                @TempData["successMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        }
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Group Types</h4>
                        <div class="flex-shrink-0">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#NewGroupType">Add Group Type</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="live-preview">
                            <div class="table-responsive">
                                <table class="table table-nowrap dt-responsive table-bordered display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Group Type</th>
                                            <th scope="col">Last Updated</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblBody">
                                        @{
                                            var i = 1;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i </td>
                                                <td>@item.GroupTypeName</td>
                                                <td>@String.Format("{0:MM/dd/yyyy HH:MM tt}",@item.LastUpdated)</td>
                                                <td>
                                                    <div class="hstack gap-3 fs-15">
                                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="@("#EditGroupType-" + item.GroupTypeId)" data-url="@Url.Action($"Edit/{item.GroupTypeId}")">Edit</button>
                                                        @await Html.PartialAsync("_EditModalPartial",item)
                                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#DeleteGroupType-" + item.GroupTypeId)" data-url="@Url.Action($"Delete/{item.GroupTypeId}")">Delete</button>
                                                        @await Html.PartialAsync("_DeleteModalPartial",item)
                                                    </div>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                                <!-- end table -->
                            </div>
                            <!-- end table responsive -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_CreateModalPartial",new GroupType())