@{
    ViewData["Title"] = "Home Page";
    Layout = "_Userlayout";
}
@model IEnumerable<InfinityWeb.ViewModel.ClientBranchUserViewModal>
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Client Branch Users</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Client Branch Users</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        @if (TempData["errorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade-show">
                @TempData["errorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        }
        @if (TempData["successMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade-show">
                @TempData["successMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        }
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Client Branch Users</h4>
                        <div class="flex-shrink-0">
                            <a type="button" class="btn btn-primary" asp-action="Create" asp-controller="ClientBranchUser">Add Client Branch User</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="live-preview">
                            <div class="table-responsive">
                                <table class="table table-nowrap dt-responsive table-bordered display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Branch Name</th>
                                            <th scope="col">Client Name</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblBody">
                                        @{
                                            var i = 1;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i </td>
                                                <td>@item.Name</td>
                                                <td>@item.Email</td>
                                                <td>@item.PhoneNumber</td>
                                                <td>@item.BranchName</td>
                                                <td>@item.ClientName</td>
                                                <td>
                                                    <div class="hstack gap-3 fs-15">
                                                        <a asp-action="Edit" class="btn btn-primary" asp-route-Id="@item.Id">Edit</a>
                                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#DeleteClientBranchUser-" + item.Id)" data-url="@Url.Action($"Delete/{item.Id}")">Delete</button>
                                                        @await Html.PartialAsync("_DeleteModalPartial",item)
                                                    </div>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                                <!-- end table -->
                            </div>
                            <!-- end table responsive -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>